.cv {
    height: 100vh;
    margin: 5px;
} 

header {
    background-color: blue;
    height: 10%;
}

.cv-main {
    height: 90%;
    border: 2px solid blue;
    padding: 1rem;
}

.cv-main-subtitle {
    font-size: 1.3rem;
    text-decoration: underline;
}

.subcomponent {
    display: flex;
}

.subcomponent-left {
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.subcomponent-right {
    width: 75%;
    display: flex;
    align-items: center;
}


.name-display {
    color: white;
}

.time-range {
    margin-right: 2rem;
    font-weight: bold;
    font-size: 1.3rem;
}

.company-name,  .school {
    font-size: 1.3rem;
}