.App {
  text-align: center;
}

.input {
  margin-top: 1rem;
  border-radius: 3px;
  padding: 3px;
  outline: none;
  border: 1px solid black;
  height: 25px;
  font-size: 1.3rem;
}

.delete-add-btn {
  color: white;
  font-weight: bold;
  background-color: black;
  border-radius: 5px;
  width: 100%;
  display: block;
  margin-top: 1rem;
  padding: 1.1rem 1rem;
  font-size: 1.25rem;
  cursor: pointer
}